<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <div class="container">
        <header>
          <h2>
            <img src="./assets/elex-logo.svg">
            Primary 2018
          </h2>
        </header>
        <div class="races loading">
          loading...
        </div>

      <div class="source">*Incumbent<br>The top two candidates in each race advance to the general election. Vote tallies as of 5 p.m. Wednesday and will be updated as results come in.</div>
      <div class ="results-more">Full results:
        <a class="results-more"><a href="https://results.vote.wa.gov/results/20180807/" target="_blank">Secretary of State</a>
      </div>
      <div class="read-more">
        <a href= "https://www.seattletimes.com/seattle-news/politics/live-updates-district-8-seattle-king-county-primary-elections/" target="_blank">Read more &raquo;</a>
      </div>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
